<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <div th:replace="partials/partials :: head" />
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>

<div class="container">

    <h2>Recent Blog Post</h2>
    <br>
    <br>
    <form action="/posts/create" method="post">
        <input type="text" id="title" name="title" value="title">Title</input>
        <input type="text" id="description" name="description" value="description">Description</input>
        <button type="submit">Enter</button>
    </form>
    <br>
    <br>
    <form action="/posts/delete" method="post">
        <input type="number" id="id" name="id" value="id">Delete</input>
        <button type="submit">Enter</button>
    </form>



</div>
<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>

</body>
</html>