<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>


<div class="container">
    <h2>Create Ad</h2>
    <form action="/dice-roll/" method="post">
        <label for="roll">Roll Dice: </label>
        <input type="button" name="roll" id="roll" class="field" />CLICK HERE TO ROLL
        <br><br>
    </form>
</div>


<h1>this is visible</h1>



</body>
</html>